html:not([dir="rtl"]) .wrapper {
    padding-left: var(--cui-sidebar-occupy-start, 0);
    background: red;
}

.sidebar:not(.sidebar-end) {
    --cui-sidebar-occupy-start: 16rem;
}

.header-nav .dropdown-menu {
    left: -110px;
    top: 45px;
}

.info-color {
    color: #3399ff;
}

.btn-info {
    background-color: #3399ff !important;
    color: #fff !important;
}

.flatpickr-calendar {
    background-color: #3399ff;
}

.link-unstyled {
    color: black;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}
